{% extends 'base.html' %}
{% block title %}product_list{% endblock %}
{% block content %}
          <div class="card mb-3">
            <div class="card-body">
              <div class="row flex-between-center">
                <div class="col-sm-auto mb-2 mb-sm-0">
                  <h6 class="mb-0">Showing 1-24 of 205 Products</h6>
                </div>
                <div class="col-sm-auto">
                  <div class="row gx-2 align-items-center">
                    <div class="col-auto">
                      <form class="row gx-2">
                        <div class="col-auto"><small>Sort by: </small></div>
                        <div class="col-auto">
                          <select class="form-select form-select-sm" aria-label="Bulk actions">
                            <option selected="">Best Match</option>
                            <option value="Refund">Newest</option>
                            <option value="Delete">Price</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="col-auto pe-0"><a class="text-600 px-1" href="../../../app/e-commerce/product/product-grid.html" data-bs-toggle="tooltip" title="Product Grid"><span class="fas fa-th"></span></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% for product in products %}
                <div class="col-12 p-card bg-100">
                  <div class="row">
                    <div class="col-sm-5 col-md-4">
                      <div class="position-relative h-sm-100">
                        <div class="swiper-container theme-slider h-100" data-swiper='{"autoplay":true,"autoHeight":true,"spaceBetween":5,"loop":true,"loopedSlides":5,"navigation":{"nextEl":".swiper-button-next","prevEl":".swiper-button-prev"}}'>
                          <div class="swiper-wrapper h-100">
                              {% for image in product.images.all %}
                                <div class="swiper-slide h-100"><a class="d-block h-sm-100" href="{% url 'products:detail' product.slug %}"><img class="rounded-1 h-100 w-100 fit-cover" src="{{ image.image_url }}" alt="" /></a></div>
                              {% endfor %}
                               </div>
                          <div class="swiper-nav">
                            <div class="swiper-button-next swiper-button-white"></div>
                            <div class="swiper-button-prev swiper-button-white"></div>
                          </div>
                        </div>
                        <div class="badge rounded-pill bg-success position-absolute top-0 end-0 me-2 mt-2 fs--2 z-index-2">{{ product.discount }}% sale</div>
                      </div>
                    </div>
                    <div class="col-sm-7 col-md-8">
                      <div class="row">
                        <div class="col-lg-8">
                          <h5 class="mt-3 mt-sm-0"><a class="text-dark fs-0 fs-lg-1" href="{% url 'products:detail' product.slug %}">{{ product.name }}</a></h5>
                          <p class="fs--1 mb-2 mb-md-3"><a class="text-500" href="#!">{{ product.tags }}</a></p>
                          <ul class="list-unstyled d-none d-lg-block">
                              {% for value in product.product_value.all %}
                            <li><span class="fas fa-circle" data-fa-transform="shrink-12"></span><span>{{ value }}</span></li>
                              {% endfor %}
                          </ul>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-between flex-column">
                          <div>
                              {% if product.discount > 0 %}
                            <h4 class="fs-1 fs-md-2 text-warning mb-0">${{ product.discount_percentage }}</h4>
                            <h5 class="fs--1 text-500 mb-0 mt-1">
                              <del>${{ product.price }} </del><span class="ms-1">-{{ product.discount }}%</span>
                            </h5>
                                  {% else %}
                                  <h4 class="fs-1 fs-md-2 text-warning mb-0">${{ product.price }}</h4>
                              {% endif %}
                            <div class="mb-2 mt-3">
                      {% with ''|center:product.rating_avg as range %}
                              {% for i in range %}
                                <span class="fa fa-star text-warning"></span>
                              {% endfor %}
                          {% if product.comments.count > 0 %}
                            <span class="ms-1">({{ product.comments.count }})</span>
                          {% endif %}
                      {% endwith %}
                            </div>
                            <div class="d-none d-lg-block">
                              <p class="fs--1 mb-1">Shipping Cost: <strong>{{ product.shipping }}</strong></p>
                            {% if product.stock < 0 %}
                              <p class="fs--1 mb-1">Stock: <strong class="text-danger">Sold-Out</strong>
                            {% else %}
                              <p class="fs--1 mb-1">Stock: <strong class="text-success">Available</strong>
                            {% endif %}
                              </p>
                            </div>
                          </div>
                          <div class="mt-2"><a class="btn btn-sm btn-outline-secondary border-300 d-lg-block me-2 me-lg-0" href="#!"><span class="far fa-heart"></span><span class="ms-2 d-none d-md-inline-block">Favourite</span></a><a class="btn btn-sm btn-primary d-lg-block mt-lg-2" href="#!"><span class="fas fa-cart-plus"> </span><span class="ms-2 d-none d-md-inline-block">Add to Cart</span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          {% endfor %}

    <div class="card-footer border-top d-flex justify-content-center">
        {% for contact in page_obj %}
    {# Each "contact" is a Contact model object. #}
    {{ contact.full_name|upper }}<br>
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" style="background-color: #c3c6ca;border-radius: 3px;padding: 3px 5px;">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" style="background-color: #c3c6ca;border-radius: 3px;padding: 3px 5px;">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" style="background-color: #ffffff;border-radius: 3px;padding: 3px 5px;">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" style="background-color: #ffffff;border-radius: 3px;padding: 3px 5px;">last &raquo;</a>
        {% endif %}
    </span>
</div>
                </div>
          </div>

{% endblock %}